body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background-color: #0095f6;
  color: white;
  font-weight: bold;
  transition: background 0.2s;
}

button:hover {
  background-color: #0073e6;
}

input {
  padding: 6px 10px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
